<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sh.ideal.valueaddedserver.callshow.mapper.UserInfoBoundMapper" >

  <select id="queryIsBound" resultType="java.util.HashMap" parameterType="java.lang.String">
  	    select
  	    WECHAT_ID, TELEPHONE, ACCOUNT_STATUS, USER_GROUP, AREA, AREADETAIL,
  	    PLATFORM, CUSTOMER_ID, CUSTOMER_NAME, ID_CARD, CUSTOMER_TYPE, IS_CLUB,
  	    HOTPHONE, CUSTOMER_LEVAL, START_LEVEL
  	    from p_wechat_account where WECHAT_ID = #{openId} and account_status = 0
  	</select>
</mapper>