<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>中国电信上海客服</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <script src="/valueadded/js/callshow/template.js?v=0.0.1" type="text/javascript" charset="utf-8"></script>
</head>


<body>
<div class="bg2">
    <div class="xiao t-c m-b2">
        <img src="/valueadded/images/callshow/xiao.png"/>
        <h4 class="f m-b10">业务受理成功！</h4>
        <p>您的业务已成功受理<br/> <!--，
			<br />完成订单后将通过短信提示业务办理成功提示 或30分钟后点击首页订单详情查询订单状态。-->
        </p>

        <input type="hidden" id="openId" th:value="${openid}"  >
        <!---->
    </div>
    <div class="btn m_b20">
        <p class="btns btnsl" id="showIndex">确 定</p>
    </div>
</div>

</body>
<script type="text/javascript">
		$(function () {
		    var openId=$("#openId").val();
            console.log(openId)
			$("#showIndex").click(function () {
				window.location.href = "[[@{/}]]callshow/index?openid="+openId;
			});
		})
</script>
</html>